<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="${title1}"/>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style2.css">
    </head>
    <body data-bs-theme="dark">
        <div th:insert="blocks/header.html :: header"> </div>

        <div th:insert="blocks/footer.html :: footer"> </div>
    </body>
</html>