<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="${title1}"/>
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/style2.css">
    </head>
    <body data-bs-theme="dark">
        <div th:insert="blocks/header.html :: header"></div>

        <div class="w-sm-100 w-md-75 w-lg-50 p-3 mx-auto">
            <div class="border border-white rounded-4 mb-5 bg-dark-subtle">
                <h3 class="p-2 border-bottom ms-1">Test1</h3>
                <img src="media/mainBg.jpg" class="img-adapt75 rounded mx-auto d-block" alt="img">
                <p class="p-3 mb-2 border-top mt-2 border-bottom">Test test test test test test test test test test test test test test test test test test test test test test test test test test </p>
                <div class="d-flex justify-content-between align-items-center ms-3 me-3">
                    <a href="#" class="btn btn-light ms-3 mb-3">Смотреть</a>
                    <p class="me-3">Нравится: 0</p>
                </div>
            </div>
            <div class="border border-white rounded-4 mb-5 bg-dark-subtle">
                <h3 class="p-2 border-bottom ms-1">Test1</h3>
                <img src="media/mainBg.jpg" class="img-adapt75 rounded mx-auto d-block" alt="img">
                <p class="p-3 mb-2 border-top mt-2 border-bottom">Test test test test test test test test test test test test test test test test test test test test test test test test test test </p>
                <div class="d-flex justify-content-between align-items-center ms-3 me-3">
                    <a href="#" class="btn btn-light ms-3 mb-3">Смотреть</a>
                    <p class="me-3">Нравится: 0</p>
                </div>
            </div>
        </div>

        <div th:insert="blocks/footer.html :: footer"></div>
        <script src="js/bootstrap.bundle.js"></script>
    </body>
</html>