<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="${title1}"/>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <body>
        <div class="bg">
            <div class="blur"></div>
            <div class="d-flex min-vh-100 text-white cover-container w-100 p-3 mx-auto flex-column align-items-center justify-content-center bg-dark">
                <h1 th:text="${title2}" class="mb-4"/>
                <form action="" class="row g-3">
                    <div class="mb-2 col-md-12">
                        <label for="" class="form-label">Ник</label>
                        <input type="text" class="form-control bg-dark-subtle" placeholder="MyNick">
                    </div>
                    <div class="mb-2 col-md-6">
                        <label for="" class="form-label">Почта</label>
                        <input type="email" class="form-control bg-dark-subtle" placeholder="name@example.com">
                    </div>
                    <div class="mb-2 col-md-6">
                        <label for="" class="form-label">Пароль</label>
                        <input type="password" class="form-control bg-dark-subtle" placeholder="123456">
                    </div>
                    <hr>
                    <div class="mb-2 col-md-6">
                        <label for="" class="form-label">Имя</label>
                        <input type="text" class="form-control bg-dark-subtle" placeholder="Jack">
                    </div>
                    <div class="mb-2 col-md-6">
                        <label for="" class="form-label">Фамилия</label>
                        <input type="text" class="form-control bg-dark-subtle" placeholder="Summer">
                    </div>
                    <div class="mb-2 col-md-6">
                        <label for="" class="form-label">Номер</label>
                        <input type="text" class="form-control bg-dark-subtle" placeholder="+380 99 999 9999">
                    </div>
                    <div class="mb-2 col-md-6">
                        <label for="" class="form-label">Страна</label>
                        <input type="text" class="form-control bg-dark-subtle" placeholder="UA">
                    </div>
                    <hr>
                    <button type="submit" class="btn btn-outline-light col-md-12">Зарегистрироваться</button>
                    <hr>
                    <a href="/login" class="link-secondary col-md-12">Уже есть аккаунт? Войти</a>
                </form>
            </div>
    </body>
</html>